h1.container-welcome {
    margin: auto;
    width: 50%;
}

h1, h2 {
    color: midnightblue;
    text-decoration: underline;
}


body {
    background-color: azure;
    background-image: url("../photos/Corvette-C6-Z06-Engine-LS7.jpeg");
    background-size: cover;
    font-family: Avenir, sans-serif;
}

.features-prices{
    padding: 10px;
    font-size: large;
}


.ending-statement {
    background-color: white;
}

h3.fancy-anchor:hover {
    transition-delay: .5s;
    transform: scale(2,.5);
    width: 240px;
    background-color: red;
}

/*h1 {*/
/*    color: purple;*/
/*    font-family: Arial;*/
/*}*/

/*body {*/
/*    font-family: Arial, sans-serif;*/
/*}*/

/*h2 {*/
/*    font-family: "Times New Roman";*/
/*    color: red;*/
/*    text-transform: uppercase;*/
/*}*/

/*.section-header {*/
/*    color: purple;*/
/*    text-transform: uppercase;*/
/*}*/

/*.container-heading:nth-child(odd){*/
/*    color: green;*/
/*}*/




