header.container {
    display: flex;
    justify-content: center;
    background-color: grey;
    border: solid black 1px;
    border-radius: 5px;
    padding: 0;
    opacity: 90%;
    font-family: sans-serif;
    text-transform: uppercase;
}

#map {
    /* the width and height may be set to any size */
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.colFiveDay {
    width: 20%;
    height: 400px;
    flex: none;
    background-color: #6f90dc;
    border: solid black;
    padding: 0;
}


p {
    width: 20%;
    height: 35px;
    flex: none;
    background-color: #6f90dc;
    border: solid black;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.column:has(#map){
    width: 100%;
    height: 500px;
    flex: none;
    border: solid black;
    padding: 0;
}

